<div class="bg-slate-800 flex justify-around items-center py-6 w-full">
  <div>
    <span class="text-3xl font-extrabold text-emerald-500">Portfolio </span>
    <span class="text-2xl font-extrabold text-amber-500">Karol Nowak</span>
  </div>

  <div>
    <ul class="flex justify-between items-center gap-5 text-white">
      <li>
        <a routerLink="/" routerLinkActive="text-cyan-500 text-3xl" [routerLinkActiveOptions]="{exact: true}" class="text-2xl transition-all duration-300">Strona główna</a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="text-cyan-500 text-3xl" class="text-2xl transition-all duration-300">O mnie</a>
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="text-cyan-500 text-3xl" class="text-2xl transition-all duration-300">Kontakt</a>
      </li>
    </ul>
  </div>

</div>
